.DS_Store
.idea
.venv
__pycache__
*.pyc
*.pyo

# Ignore everything inside .build/
.build/

# Allow .build/latest/Terraform.docset/ and its contents
!.build/latest/
!.build/latest/Terraform.docset/
!.build/latest/Terraform.docset/**

.build/latest/Terraform.tgz